@import "tailwindcss";


.mycontainer {
  max-width: 1440px;
  margin: auto;
  width: 90%;
  box-sizing: border-box;
}

.mycontainer2 {
  margin: auto;
  width: 95%;
  box-sizing: border-box;
  max-width: 1440px;
  padding-left: 15px;  /* Mobile edges se distance */
  padding-right: 15px;
}

@media (max-width: 1024px) {
  .mycontainer2 {
    width: 100%;
    padding-left: 15px;  /* Mobile safe padding */
    padding-right: 15px;
  }
}


@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slideInLeft 0.8s ease forwards;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.8s ease forwards;
}
