@import "tailwindcss";


.mycontainer {
  max-width: 1440px;
  margin: auto;
  width: 90%;
  box-sizing: border-box;
}

.mycontainer2 {
  max-width: 1440px;
  margin: auto;
  width: 75%;
  box-sizing: border-box;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slideInLeft 0.8s ease forwards;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.8s ease forwards;
}
